{% extends 'umanage/base_umanage.html' %}
{% load i18n umanage %}
{% block page_title %}{% trans 'Forgot Username' %} - {% endblock %}

{% block breadcrumb %}
    <li>{% trans 'Forgot Username' %}</li>
{% endblock %}

{% block umanage_content %}
<h1>{% trans 'Forgot Username' %}</h1>

<p>{% trans "Enter your email address below and the username for that account will be emailed to the email address provided." %}</p>

<form method="post" action="{% url 'umanage_forgot_username' %}" class="form-umanage form-horizontal">
    {% csrf_token %}
    {{ form|render_umanage_form }}
    <div class="form-group umanage-button-container">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Email Username</button>
            <a href="/">cancel</a>
        </div>
    </div>
</form>
{% endblock %}
