{% extends 'umanage/base_umanage.html' %}
{% load i18n umanage %}
{% block page_title %}{% trans 'Password Reset' %} - {% endblock %}

{% block breadcrumb %}
    <li>{% trans 'Password Reset' %}</li>
{% endblock %}

{% block umanage_content %}
<h1>{% trans 'Password Reset' %}</h1>

<p>{% trans "Please update your password below." %}</p>

<form method="post" action="" class="form-umanage form-horizontal">
    {% csrf_token %}
    {{ form|render_umanage_form }}
    <div class="form-group umanage-button-container">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Reset Password</button>
            <a href="/">cancel</a>
        </div>
    </div>
</form>
{% endblock %}
